- name: Disable swap
  command: swapoff -a

- name: Remove swap from fstab
  replace:
    path: /etc/fstab
    regexp: '^.*swap.*$'
    replace: ''

- name: Load modules
  shell: |
    modprobe overlay
    modprobe br_netfilter

- name: Sysctl config
  copy:
    dest: /etc/sysctl.d/k8s.conf
    content: |
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1

- name: Apply sysctl
  command: sysctl --system

- name: Install base packages
  apt:
    name:
      - curl
      - gnupg
      - apt-transport-https
      - ca-certificates
    state: present
