- name: Initialize cluster
  command: kubeadm init --pod-network-cidr={{ pod_network_cidr }}
  args:
    creates: /etc/kubernetes/admin.conf

- name: Setup kubeconfig
  shell: |
    mkdir -p $HOME/.kube
    cp /etc/kubernetes/admin.conf $HOME/.kube/config

- name: Install Calico
  shell: |
    kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Get join command
  command: kubeadm token create --print-join-command
  register: join_cmd

- name: Save join command
  copy:
    content: "{{ join_cmd.stdout }}"
    dest: /join-command.sh
